<p>contato works!</p>
<div class="container" [formGroup]="x">
    <div class="row">
        <div class="col-md-6">
            <input formControlName="nome" type="text" name="" id="">
            <input formControlName="email" type="text" name="" id="">
            <select formControlName="assunto" name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="col-md-6">
            <textarea formControlName="mensagem" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-md-12">
            <input type="button" (click)="submitForm()" value="Enviar">
        </div>
    </div>
</div>